<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>My phonegap App</name>

<description>
A simple PhoneGap Build application.
</description>

<author href="http://aedevelopment.net" email="efeali@gmail.com">
Ali Efe
</author>
<access origin="http://theiamzone.com" />
</widget>
